<fieldset>
	<legend>Start a new party room</legend>

        <%= form_for(@new_room) do |f| %>
  	Party Name: <%= f.text_field :name %><br/><br/>
  	Public? <%= f.check_box :public %><br/><br/>

	<%= f.submit %>
<% end %>
</fieldset>