<div id="newRoom">
  <%= render 'rooms/newform' %>
</div>

<fieldset>
  <legend>Existing party rooms</legend>
<table cellpadding="2" cellspacing="5">
  <tr>
    <th>Name</th>
    <th>Started</th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td align="center" width="300px"><a href="/party/<%= room.id %>"><%= room.name %></a></td>
    <td><%= start_diff(room.created_at) %></td>
  </tr>
<% end %>
</table>
</fieldset>