<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
<%= javascript_include_tag "jquery.countdown.js" %>
<%= stylesheet_link_tag "jquery.countdown.css" -%>

        <div id="countdown"></div>

        <div class="row-fluid">
        <div class="span4" id="dropfile">
          Drag Files here
        </div>
        <div class="span4">
          <!--<form action="" class="dropzone" id="my_dropzone"></form>-->
          <%#= form_tag({:controller => 'rooms', :action => 'upload'},:method => 'get', :multipart => true,  :class => "dropzone", :id => "my_dropzone") do %>
          <% #end %>
        </div>
        <div class="span4">
        </div>
      </div>

<br />

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">

      <center>
        Aquí van los invitados c:

        
        <div id="videobox" >

        </div>
      </center>

    </div>

    <div class="span3" id="myself">
      <input type="button" id="audioStatusButton" onclick="changeAudioStatus()" value="enabledAudio"></input>
        <input type="button" id="videoStatusButton" onclick="changeVideoStatus()" value="enabledVideo"></input>
      <center>

      <div id="myselfbox" >

        </div>
      </center>
  </div>
</div>

<script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
<script type="text/javascript">
	var apiKey = 28878252;
	var sessionId = "<%= @room.sessionId %>";
	var token = "<%= @tok_token %>";

	var session;
      var publisher;

	TB.addEventListener('exception', exceptionHandler);
	session = TB.initSession(sessionId);

	//Video chat event listeners
	session.addEventListener('sessionConnected', sessionConnectedHandler);
	session.addEventListener('streamCreated', streamCreatedHandler);
    session.addEventListener('streamDestroyed', streamDestroyedHandler);

	session.connect(apiKey, token);


//Files







function get_files(){
    $("#dropfile").html("<h2>Archivos Compartidos</h2>Arrastra o haz click aqui para agregar")
    $("#dropfile").width(300)
    $("#dropfile").height(300)

  $.ajax({
    type: "POST",
    url: '<%=get_room_files_path %>',
    data: {"room":"<%= @room.id%>"},
    dataType: 'JSON'
  }).done(function(data) {
    console.log("asdf!!"+JSON.stringify(data))
    for (dir in data.dirs)
    {
      if (data.dirs[dir] != "." && data.dirs[dir] != "..")
      {
        console.log(data.dirs[dir])
        $("#dropfile").append('<br /><a link="/uploads/<%= @room.id.to_s%>/'+data.dirs[dir]+'" class="downloadLink">Descargar '+data.dirs[dir]+'</a>')

      }
    }
        $(".downloadLink").on("click",function(){
          console.log("lala")
          window.open($(this).attr("link"),'_blank');
        })
  }).fail(function(jqXHR, textStatus, errorThrown) {
    console.log( "Request failed: " + jqXHR.fail().toString() );
  });
}


var myDropzone = new Dropzone("div#dropfile", { url: "/rooms/upload",parallelUploads: 1})

$(document).ready(function(){

get_files()




  //myDropzone = Dropzone.forElement("#dropfile");
  myDropzone.on("sending", function(file, xhr, formData) {
    formData.append("room", '<%=@room.id.to_s%>');
  });
  myDropzone.on("dragenter", function(event) {
    console.log("Entering that on that")
    $("#dropfile").html("Dropme here!! here!!!")
  });
  myDropzone.on("dragover", function(event) {
    console.log($("#dropfile").height()+"Dragging that over here"+$("#dropfile").width())
    var w = $("#dropfile").width()
    var h = $("#dropfile").height()
    $("#dropfile").html("Dropme here!! here!!!")
    $("#dropfile").width(720)
    $("#dropfile").height(300)
  });
  myDropzone.on("dragleave", function(event) {
    console.log("Dont stop dragging!! :(")
   // get_files()
  });

  myDropzone.on("complete",function(file){
    console.log(file)
    //$("#dropfile").append('<a href="/uploads/<%= @room.id.to_s%>/'+file.name+'">Download '+file.name+'</a>')
    //file.previewElement.click(function() { alert("clicked"+file.name)});
    //$(".dz-preview").last().on("click",function(){ window.open("/uploads/<%= @room.id.to_s%>/"+file.name);console.log('did it work?')})
    get_files()
  })
})

window.setInterval(function(){
  get_files()
}, 5000);

  function changeVideoStatus() {

    var button = document.getElementById("videoStatusButton");

    if (button.value == "enabledVideo") {
      button.value = "disabledVideo";
      publisher.publishVideo(false);
    }

    else {
      button.value = "enabledVideo";
      publisher.publishVideo(true);
    }
  }

  function changeAudioStatus() {

    var button = document.getElementById("audioStatusButton");

    if (button.value == "enabledAudio") {
      button.value = "disabledAudio";
      publisher.publishAudio(false);
    }

    else {
      button.value = "enabledAudio";
      publisher.publishAudio(true);
    }
  }



// Countdown
$(function(){

  var note = $('#note'),
    ts = new Date(2012, 0, 1),
    newYear = true;

  if((new Date()) > ts){
    // The new year is here! Count towards something else.
    // Notice the *1000 at the end - time must be in milliseconds
    ts = (new Date()).getTime() + 1*1*29*60*1000;
    newYear = false;
  }

  $('#countdown').countdown({
    timestamp : ts,
    callback  : function(days, hours, minutes, seconds){

      var message = "";

      message += days + " day" + ( days==1 ? '':'s' ) + ", ";
      message += hours + " hour" + ( hours==1 ? '':'s' ) + ", ";
      message += minutes + " minute" + ( minutes==1 ? '':'s' ) + " and ";
      message += seconds + " second" + ( seconds==1 ? '':'s' ) + " <br />";

      if(newYear){
        message += "left until the new year!";
      }
      else {
        message += "left to 10 days from now!";
      }

      note.html(message);
    }
  });

});



</script>

 <!--
<script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
<div id="myPublisherDiv"></div>
        <script type="text/javascript">
          // Initialize API key, session, and token...
          // Think of a session as a room, and a token as the key to get in to the room
          // Sessions and tokens are generated on your server and passed down to the client
          var apiKey = "28873032";
          var sessionId = "<%= @room.sessionId %>";
          var token = "<%= @tok_token %>";

          // Initialize session, set up event listeners, and connect
          var session = TB.initSession(sessionId);
          session.addEventListener('sessionConnected', sessionConnectedHandler);
          session.connect(apiKey, token);

          function sessionConnectedHandler(event) {
            var publisher = TB.initPublisher(apiKey, 'myPublisherDiv');
            session.publish(publisher);
          }
        </script>
-->