/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dropzone/dropzone
 *= require_tree .
 */




/***************************************************************************************************
****************************************************************************************************
*************************************** Drag And Drop **********************************************
****************************************************************************************************
****************************************************************************************************/
body{
	background-image: url("bg.jpg");
}
#footer
{

}

#dropfile
{
	background: #e6ead6;
	z-index: 100;
	position: fixed;
	border-top-left-radius: 10px 5px;
	border-bottom-right-radius: 10% 5%;
	border-top-right-radius: 10px;
	padding-left: 20px;
}
#dropfile.downloadLink
{
	z-index: 101;
	cursor: pointer;
}

#videobox
{

}

#countdown
{
	top: 5%;
}
#myself
{
	position: fixed;
	z-index: 999;
	right: 0%;
	top: 20%;
}