<!DOCTYPE html>
<html>
<head>
  <title>VideoParty</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>Gurube</h1>
     <!-- <h1>Video Party</h1>
      <h3>[Start or join a video party, invite your friends but most of all have fun!]</h3>
    -->
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <!--<p>&copy; 2011, <a href="http://therainbowhatguy.com" title="The Rainbow Hat Guy Talks">Melih Onvural</a> - Distributed under MIT License on <a href="https://github.com/monvural/OpenTok-Video-Party">GitHub</a></p>
      <p>If you have any questions, or would like to see some improvements, please e-mail <a href="mailto:melih.onvural@gmail.com">melih.onvural {at} gmail {dot} com</a></p>
    -->
    </div>
  </div>
</body>
</html>
